.App {
  text-align: center;
  margin-top: 100px;
}
.input {
  height: 35px;
  width: 400px;
  margin-top: 15px;
  border-radius: 10px;
  border: 1px solid blue;
  padding-left: 15px;
}

.sumbit {
  width: 120px;
  height: 35px;
  border-radius: 10px;
  border: 1px solid blue;
  background: blue;
  color: black;
  font-size: 15px;

  margin-left: 300px;
  margin-top: 45px;
}

.title {
  color: white;
  letter-spacing: 3px;
  font-size: 45px;
}
